<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Formulario Empleado</title>

    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/producto-form.css}">

</head>

<body>

<div class="container">

    <div th:replace="~{fragments/dashboard :: menu}"></div>


    <div class="content">
        <div class="card">

            <h1 th:text="${empleado.id == null ?
                '🍖 Nuevo Empleado' :
                '✏ Editar Empleado'}">
            </h1>



            <form
                th:action="@{/saveEmpleado}"
                th:object="${empleado}"
                method="post">


                <input type="hidden" th:field="*{id}">


                <!-- DATOS EMPLEADO -->

                <div class="campo">
                    <label>Nombre</label>
                    <input
                        type="text"
                        th:field="*{nombre}"
                        required>
                </div>
                
                <div class="campo">
                    <label>DNI</label>
                    <input
                        type="text"
                        th:field="*{dni}"
                        required>
                </div>


                <div class="campo">
                    <label>Telefono</label>
                    <input
                        type="text"
                        th:field="*{telefono}"
                        required>
                </div>



                <!-- DATOS USUARIO -->


                <div class="campo">
                    <label>Email</label>
                    <input
                        type="email"
                        th:field="*{usuarioCredential.email}"
                        required>
                </div>



                <div class="campo">

                    <div th:if="${empleado.id == null}">
    
                          <label>Password</label>

                             <input type="password" 
                               th:field="*{usuarioCredential.password}"
                           required>

                     </div>
                </div>



                <!-- ROL -->


                <div class="campo">
                    <label>Rol</label>
                    
                    <select
                        th:field="*{usuarioCredential.rol.id}">
                        <option value="">
                            Seleccione Rol
                        </option>
                        
                        <option
                            th:each="r : ${roles}"
                            th:value="${r.id}"
                            th:text="${r.nombre}">
                        </option>
                    </select>
                </div>




                <div class="acciones">
                   <button type="submit">

                        💾 Guardar
                    </button>
                    
                    <a th:href="@{/listEmpleados}">
                        ← Regresar
                    </a>
                    
                </div>
            </form>
            
        </div>
    </div>

</div>


<script th:src="@{/js/dashboard.js}"></script>


</body>

</html>