<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">

<title>Dashboard</title>

<link rel="stylesheet" th:href="@{/css/dashboard.css}">
<link rel="stylesheet" th:href="@{/css/mantenimiento-productos.css}">

</head>

<body>

<div class="container">

    <div th:replace="~{fragments/dashboard :: menu}"></div>

    <div class="content">

        <div class="header">

            <div>
                <h1>🏠 Dashboard</h1>
                <p>
                    Bienvenido:
                    <strong th:text="${nombreUsuario}"></strong>
                </p>
            </div>

        </div>

        <div class="table-box">

            <div class="empty">

                <h2>🔥 Sistema Marenas Manager</h2>

                <br>

                <p>
                    Bienvenido al sistema de gestión del restaurante.
                </p>

                <br>

                <p>
                    Desde este panel podrá administrar:
                </p>

                <br>

                <p>🍖 Productos</p>
                <p>🥩 Insumos</p>
                <p>📋 Categorías</p>
                <p>🪑 Mesas</p>
                <p>🧾 Pedidos</p>
                <p>👨‍🍳 Empleados</p>
                <p>📊 Reportes</p>

            </div>

        </div>

    </div>

</div>

<script th:src="@{/js/dashboard.js}"></script>

</body>

</html>